@{
    Layout = "~/Views/Shared/_fixedLayout.cshtml";
    ViewData["Title"] = "Application";
}

@{
    dataTableEntry getData = new dataTableEntry("Application Name", "Department", "Department Manager", "Client", "Primary BA", "Technical Contact", "Application Type 1,Application Type 2", "Technology 1,Technology 2", "Production Server", "Production URL", "QA Server", "QA URL", "Development Server", "Development URL", "Some Place", "10", "10", "10", "10", "10", 1);
    getData = ViewBag.Selected;
}
<style>
    input, input:focus, textarea:focus, select:focus {
        border: none;
    }
</style>
<script>

    function onLoad() {
        document.getElementById("appName").value = "@getData.App_name";
        document.getElementById("dept").value = "@getData.Department";
        document.getElementById("deptMgr").value = "@getData.DepartmentManager";
        document.getElementById("client").value = "@getData.Client";
        document.getElementById("ba").value = "@getData.PrimaryBA";
        document.getElementById("contact").value = "@getData.TechContact";

        var table, data, row, cell, input;

        table = document.getElementById("myApplicationType");
        data = "@getData.ApplicationType".split(",");
        for (i = 0; i < data.length; i++) {
            row = table.insertRow(table.length);

            cell = row.insertCell(0);
            input = document.createElement('input');
            input.type = 'text';
            input.value = data[i];
            cell.appendChild(input);
        }

        table = document.getElementById("myTechnology");
        data = "@getData.Tech".split(",");
        for (i = 0; i < data.length; i++) {
            row = table.insertRow(table.length);

            cell = row.insertCell(0);
            input = document.createElement('input');
            input.type = 'text';
            input.value = data[i];
            cell.appendChild(input);
        }

        var prod, qa, dev;

        table = document.getElementById("myUrls");
        prod = "@getData.ProductionURL".split(",");
        qa = "@getData.QaURL".split(",");
        dev = "@getData.DevlopmentURL".split(",");
        for (i = 0; i < prod.length; i++) {
            row = table.insertRow(table.length);

            cell = row.insertCell(0);
            input = document.createElement('input');
            input.type = 'text';
            input.value = 'Production';
            input.readOnly = true;
            cell.appendChild(input);

            cell = row.insertCell(1);
            input = document.createElement('input');
            input.type = 'text';
            input.value = prod[i];
            input.id = 'prod';
            cell.appendChild(input);
        }
        for (i = 0; i < qa.length; i++) {
            row = table.insertRow(table.length);

            cell = row.insertCell(0);
            input = document.createElement('input');
            input.type = 'text';
            input.value = 'QA';
            input.readOnly = true;
            cell.appendChild(input);

            cell = row.insertCell(1);
            input = document.createElement('input');
            input.type = 'text';
            input.value = qa[i];
            input.id = 'qa';
            cell.appendChild(input);
        }
        for (i = 0; i < dev.length; i++) {
            row = table.insertRow(table.length);

            cell = row.insertCell(0);
            input = document.createElement('input');
            input.type = 'text';
            input.value = 'Development';
            input.readOnly = true;
            cell.appendChild(input);

            cell = row.insertCell(1);
            input = document.createElement('input');
            input.type = 'text';
            input.value = dev[i];
            input.id = 'dev';
            cell.appendChild(input);
        }

        table = document.getElementById("myServers");
        prod = "@getData.ProductionServer".split(",");
        qa = "@getData.QaServer".split(",");
        dev = "@getData.DevlopmentServer".split(",");
        for (i = 0; i < prod.length; i++) {
            row = table.insertRow(table.length);

            cell = row.insertCell(0);
            input = document.createElement('select');
            option = document.createElement('option');
            option.text = "Production"
            input.add(option);
            input.disabled = true;
            cell.appendChild(input);

            cell = row.insertCell(1);
            input = document.createElement('input');
            input.type = 'text';
            input.value = prod[i];
            cell.appendChild(input);
        }
        for (i = 0; i < qa.length; i++) {
            row = table.insertRow(table.length);

            cell = row.insertCell(0);
            input = document.createElement('select');
            option = document.createElement('option');
            option.text = "QA"
            input.add(option);
            input.disabled = true;
            cell.appendChild(input);

            cell = row.insertCell(1);
            input = document.createElement('input');
            input.type = 'text';
            input.value = qa[i];
            cell.appendChild(input);
        }
        for (i = 0; i < dev.length; i++) {
            row = table.insertRow(table.length);

            cell = row.insertCell(0);
            input = document.createElement('select');
            option = document.createElement('option');
            option.text = "Development"
            input.add(option);
            input.disabled = true;
            cell.appendChild(input);

            cell = row.insertCell(1);
            input = document.createElement('input');
            input.type = 'text';
            input.value = dev[i];
            cell.appendChild(input);
        }

        table = document.getElementById("myNotes");
        // note table is not yet implemented

        document.getElementById("source").value = "@getData.CodeSource";
        document.getElementById("stable").selected = '@getData.Stability';
        document.getElementById("future").selected = '@getData.FutureDevlopment';
        document.getElementById("repo").value = "@getData.Repository";
        document.getElementById("sensitive").selected = '@getData.Sensitivity';
        document.getElementById("crit").selected = '@getData.Criticality';
    }
</script>

<body onload="onLoad()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                Application Name:
                            </td>
                            <td>
                                <input type="text" id="appName" name="appName" value="EXAMPLE" readonly>
                            </td>
                            <td>
                                Client:
                            </td>
                            <td>
                                <input type="text" id="client" name="client" value="EXAMPLE" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Department:
                            </td>
                            <td>
                                <input type="text" id="dept" name="dept" value="EXAMPLE">
                            </td>
                            <td>
                                Primary BA:
                            </td>
                            <td>
                                <input type="text" id="ba" name="ba" value="EXAMPLE">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Dept. Manager:
                            </td>
                            <td>
                                <input type="text" id="deptMgr" name="deptMgr" value="EXAMPLE">
                            </td>
                            <td>
                                Tech. Contact:
                            </td>
                            <td>
                                <input type="text" id="contact" name="contact" value="EXAMPLE">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">

                        <button type="button" class="btn btn-success btn-sm btn-block" onclick="editContact(); editBA(); editDept();">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div><br /></div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-hover table-sm" id="myApplicationType">
                    <thead>
                        <tr>
                            <th>
                                Application Type
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6">

                        <button type="button" class="btn btn-sm btn-block btn-info" onclick="addApplicationType()">
                            Add
                        </button>
                    </div>
                    <div class="col-md-6">

                        <button type="button" class="btn btn-success btn-sm btn-block" onclick="editAppType()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered table-hover table-sm" id="myTechnology">
                    <thead>
                        <tr>
                            <th>
                                Technology
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6">

                        <button type="button" class="btn btn-block btn-sm btn-info" onclick="addTechnology()">
                            Add
                        </button>
                    </div>
                    <div class="col-md-6">

                        <button type="button" class="btn btn-success btn-block btn-sm" onclick="editTech()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div><br /></div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-sm" id="myUrls">
                    <thead>
                        <tr>
                            <th colspan="2">
                                URLs
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                URL
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">

                        <button type="button" class="btn btn-success btn-block btn-sm" onclick="editURL()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div><br /></div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-sm" id="myServers">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Servers
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                Server Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">

                        <button type="button" class="btn btn-block btn-sm btn-info" onclick="addServers()">
                            Add
                        </button>
                    </div>
                    <div class="col-md-3">

                        <button type="button" class="btn btn-success btn-block btn-sm" onclick="editDevServer(); editProdServer(); editQAServer();">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div><br /></div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                Code Source:
                            </td>
                            <td>
                                <input type="text" id="source" name="source" value="EXAMPLE">
                            </td>
                            <td>
                                Repository:
                            </td>
                            <td>
                                <input type="text" id="repo" name="repo" value="EXAMPLE">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Stability Rating:
                            </td>
                            <td>
                                <select name="stable" id="stable">
                                    <option value="Low">Low</option>
                                    <option value="Medium Low">Medium Low</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Medium High">Medium High</option>
                                    <option value="High">High</option>
                                </select>
                            </td>
                            <td>
                                Sensitive Data:
                            </td>
                            <td>
                                <select name="sensitive" id="sensitive">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                    <option value="Partially">Partially</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Future Dev. Rating:
                            </td>
                            <td>
                                <select name="future" id="future">
                                    <option value="Low">Low</option>
                                    <option value="Medium Low">Medium Low</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Medium High">Medium High</option>
                                    <option value="High">High</option>
                                </select>
                            </td>
                            <td>
                                Criticality:
                            </td>
                            <td>
                                <select name="crit" id="crit">
                                    <option value="Very Minor">Very Minor</option>
                                    <option value="Minor">Minor</option>
                                    <option value="Important">Important</option>
                                    <option value="Significant">Significant</option>
                                    <option value="Major">Major</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">

                        <button type="button" class="btn btn-success btn-block btn-sm" onclick="editRepo(); editApplication(); editSource();">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div><br /></div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-hover table-bordered" id="myNotes">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Notes
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Username
                            </th>
                            <th>
                                Note Text
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">

                        <button type="button" class="btn btn-block btn-sm btn-info" onclick="notes()">
                            Add
                        </button>
                    </div>
                    <div class="col-md-3">

                        <button type="button" class="btn btn-success btn-sm btn-block">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function addApplicationType() {
        var table = document.getElementById("myApplicationType");
        var length = table.rows.length;
        var row = table.insertRow(length);
        var cell = row.insertCell(0);

        var input = document.createElement('input');
        input.type = 'text';
        input.value = 'PLACEHOLDER';

        cell.appendChild(input);
    }

    function addTechnology() {
        var table = document.getElementById("myTechnology");
        var length = table.rows.length;
        var row = table.insertRow(length);
        var cell = row.insertCell(0);

        var input = document.createElement('input');
        input.type = 'text';
        input.value = 'PLACEHOLDER';

        cell.appendChild(input);
    }

    function addServers() {
        var table = document.getElementById("myServers");
        var length = table.rows.length;
        var row = table.insertRow(length);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);

        var input1 = document.createElement('select');
        var option1 = document.createElement('option');
        option1.text = "Development";
        input1.add(option1);
        var option2 = document.createElement('option');
        option2.text = "QA";
        input1.add(option2);
        var option3 = document.createElement('option');
        option3.text = "Production";
        input1.add(option3);

        var input2 = document.createElement('input');
        input2.type = 'text';
        input2.value = 'PLACEHOLDER';

        cell1.appendChild(input1);
        cell2.appendChild(input2);
    }

    function editDept() {
        var dept = document.getElementById("dept").value;
        var input = document.getElementById("deptMgr").value;
        var first = input.substr(0, input.indexOf(' '));
        var last = input.substr(input.indexOf(' ') + 1);

        $.ajax({
            type: "POST",
            url: "/Home/editDept",
            data: {
                ID: @getData.App_ID,
                dept: dept,
                first: first,
                last: last
            },
            dataType: "json",
        });

    }

    function editBA() {
        var input = document.getElementById("ba").value;
        var first = input.substr(0, input.indexOf(' '));
        var last = input.substr(input.indexOf(' ') + 1);

        $.ajax({
            type: "POST",
            url: "/Home/editBA",
            data: {
                ID: @getData.App_ID,
                first: first,
                last: last
            },
            dataType: "json",
        });
    }

    function editContact() {
        var input = document.getElementById("contact").value;
        var first = input.substr(0, input.indexOf(' '));
        var last = input.substr(input.indexOf(' ') + 1);

        $.ajax({
            type: "POST",
            url: "/Home/editContact",
            data: {
                ID: @getData.App_ID,
                first: first,
                last: last
            },
            dataType: "json",
        });
    }

    function editAppType() {
        var table = document.getElementById('myApplicationType');
        var app = "";

        for (var i = 1; i < table.rows.length; i++) {
            var cells = table.rows[i].cells;
            for (var j = 0; j < cells.length; j++)
            {
                app = app + table.rows[i].cells[j].children[0].value + ",";
            }
        }

        app = app.slice(0, -1);

        $.ajax({
            type: "POST",
            url: "/Home/editAppType",
            data: {
                ID: @getData.App_ID,
                app: app
            },
            dataType: "json",
        });
    }

    function editTech() {
        var table = document.getElementById('myTechnology');
        var tech = "";

        for (var i = 1; i < table.rows.length; i++) {

            var cells = table.rows[i].cells;
            for (var j = 0; j < cells.length; j++)
            {
                tech = tech + table.rows[i].cells[j].children[0].value + ",";
            }
        }

        tech = tech.slice(0, -1);

        $.ajax({
            type: "POST",
            url: "/Home/editTech",
            data: {
                ID: @getData.App_ID,
                tech: tech
            },
            dataType: "json",
        });
    }

    function editURL() {
        var prod = document.getElementById("prod");
        var qa = document.getElementById("qa");
        var dev = document.getElementById("dev");

        $.ajax({
            type: "POST",
            url: "/Home/editURL",
            data: {
                ID: @getData.App_ID,
                prod: prod.value,
                qa: qa.value,
                dev: dev.value
            },
            dataType: "json",
        });
    }

    function editProdServer() {
        var table = document.getElementById('myServers');
        var prod = "";

        for (var i = 2; i < table.rows.length; i++) {
            if (table.rows[i].cells[0].children[0].value == 'Production') {
                prod = prod + table.rows[i].cells[1].children[0].value + ",";
            }
        }

        prod = prod.slice(0, -1);

        $.ajax({
            type: "POST",
            url: "/Home/editProdServer",
            data: {
                ID: @getData.App_ID,
                prod: prod
            },
            dataType: "json",
        });
    }

    function editQAServer() {
        var table = document.getElementById('myServers');
        var qa = "";

        for (var i = 2; i < table.rows.length; i++) {
            if (table.rows[i].cells[0].children[0].value == 'QA') {
                qa = qa + table.rows[i].cells[1].children[0].value + ",";
            }
        }

        qa = qa.slice(0, -1);

        $.ajax({
            type: "POST",
            url: "/Home/editQAServer",
            data: {
                ID: @getData.App_ID,
                qa: qa
            },
            dataType: "json",
        });
    }

    function editDevServer() {
        var table = document.getElementById('myServers');
        var dev = "";

        for (var i = 2; i < table.rows.length; i++)
        {
            if (table.rows[i].cells[0].children[0].value == 'Development')
            {
                dev = dev + table.rows[i].cells[1].children[0].value + ",";
            }
        }

        dev = dev.slice(0, -1);

        $.ajax({
            type: "POST",
            url: "/Home/editDevServer",
            data: {
                ID: @getData.App_ID,
                dev: dev
            },
            dataType: "json",
        });

    }

    function editSource() {
        var input = document.getElementById("source");

        $.ajax({
            type: "POST",
            url: "/Home/editSource",
            data: {
                ID: @getData.App_ID,
                source: input.value
            },
            dataType: "json",
        });
    }

    function editRepo() {
        var input = document.getElementById("repo");

        $.ajax({
            type: "POST",
            url: "/Home/editRepo",
            data: {
                ID: @getData.App_ID,
                repo: input.value
            },
            dataType: "json",
        });
    }

    function editApplication() {
        var stable = document.getElementById("stable").selectedIndex + 1;
        var sensitive = document.getElementById("sensitive").selectedIndex + 1;
        var future = document.getElementById("future").selectedIndex + 1;
        var crit = document.getElementById("crit").selectedIndex + 1;

        $.ajax({
            type: "POST",
            url: "/Home/editApplication",
            data: {
                ID: @getData.App_ID,
                stable: stable,
                sensitive: sensitive,
                future: future,
                crit: crit
            },
            dataType: "json",
        });
    }

</script>
