@model Sogeti_Client_Data_Repository.Models.testClass
@using System.Collections.Generic
@using System.Diagnostics;
@{
    getTableData getData = new getTableData();
    List<dataTableEntry> testData = new List<dataTableEntry>();
    testData = getData.getDataTableEntries(1);
    foreach (dataTableEntry entry in testData) { Debug.WriteLine(entry.App_ID); }
    ViewData["Title"] = "test";
    List<testClass> data = new List<testClass>();
    Debug.WriteLine("Test");
    testClass p1 = new testClass("Gage", 21, "Gage@asu.edu");
    testClass p2 = new testClass("John", 21, "John@asu.edu");
    testClass p3 = new testClass("Kito", 21, "Kito@asu.edu");
    data.Add(p1);
    data.Add(p2);
    data.Add(p3);
}

<body>
    <h1>@p1.Name</h1>
</body>

<script type="text/javascript">
    var jsData = [];

    @{
        foreach (dataTableEntry entry in testData) {
            <text>
            var entry = { App_ID: '@entry.App_ID', App_name: '@entry.App_name', Department: '@entry.Department', DepartmentManager: '@entry.DepartmentManager', Client: '@entry.Client', PrimaryBA: '@entry.PrimaryBA', TechContact: '@entry.TechContact', ApplicationType: '@entry.ApplicationType', Tech: '@entry.Tech', ProductionServer: '@entry.ProductionServer', ProductionURL: '@entry.ProductionURL', QaServer: '@entry.QaServer', QaURL: '@entry.QaURL', DevlopmentServer: '@entry.DevlopmentServer', DevlopmentURL: '@entry.DevlopmentURL', CodeSource: '@entry.CodeSource', Repository: '@entry.Repository', Stability: '@entry.Stability', FutureDevlopment: '@entry.FutureDevlopment', Sensitivity: '@entry.Sensitivity', Criticality: '@entry.Criticality' };
            jsData.push(entry);
            </text>
        }
    }

    console.log(jsData);
</script>

